@import '../../styles/variables';
@import '../../styles/components/buttons';

.dropdown {
    $margin: 0.5rem;
    $border-radius: 0.25rem;

    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;

    &__label {
        @extend .button;
        
        display: flex;
        align-items: center;
        margin: $margin;
    }

    &__icon {
        margin-left: 1em;
    }

    &__menu {
        display: none;
        position: absolute;
        top: calc(100% - #{$margin});
        left: $margin;
        min-width: calc(100% - #{$margin});
        white-space: nowrap;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(#000, 0.2);
        border-radius:$border-radius;
        overflow: hidden;
        border-top-left-radius: 0;
        z-index: 1;
    }

    &__item {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #ccc;
        font-size: 0.85rem;

        &:hover {
            background-color: rgba(#000, 0.075);
        }
    }

    &--open {
        .dropdown__menu {
            display: block;
        }
    }

    &--left {
        .dropdown__menu {
            left:  $margin;
            right: auto;
            border-top-right-radius: $border-radius;
            border-top-left-radius: 0;
        }
    }

    &--right {
        .dropdown__menu {
            left: auto;
            right: $margin;
            border-top-right-radius: 0;
            border-top-left-radius: $border-radius;
        }
    }

    &--center {
        .dropdown__menu {
            left: calc(-50% - #{$margin});
            right: auto;
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }
    }

}