.button {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    // border: 1px solid $grey;
    border: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    outline: 0;
    background-color: $accent-dark;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400;
    transition: 0.1s;

    &:hover, &:focus {
        background-color: $grey;
    }

    &:active {
        background-color: darken($grey, 10%);
    }

    /* COLORS */
    &.primary     { background-color: $primary;     color: #fff; &:hover, &:focus { background-color: darken($primary,     5%)} &:active { background-color: darken($primary,     15%); } }
    &.accent      { background-color: $accent;                     &:hover, &:focus { background-color: darken($accent,      5%)} &:active { background-color: darken($accent,      15%); } }
    &.accent-dark { background-color: $accent-dark;                &:hover, &:focus { background-color: darken($accent-dark, 5%)} &:active { background-color: darken($accent-dark, 15%); } }
    &.text-color  { background-color: $text-color;  color: #fff; &:hover, &:focus { background-color: darken($text-color,  5%)} &:active { background-color: darken($text-color,  15%); } }
    &.grey        { background-color: $grey;                       &:hover, &:focus { background-color: darken($grey,        5%)} &:active { background-color: darken($grey,        15%); } }
    &.red         { background-color: $red;         color: #fff; &:hover, &:focus { background-color: darken($red,         5%)} &:active { background-color: darken($red,         15%); } }
    &.orange      { background-color: $orange;      color: #fff; &:hover, &:focus { background-color: darken($orange,      5%)} &:active { background-color: darken($orange,      15%); } }
    &.yellow      { background-color: $yellow;                     &:hover, &:focus { background-color: darken($yellow     , 5%)} &:active { background-color: darken($yellow,      15%); } }
    &.gren        { background-color: $gren;        color: #fff; &:hover, &:focus { background-color: darken($gren,        5%)} &:active { background-color: darken($gren,        15%); } }
    &.teal        { background-color: $teal;        color: #fff; &:hover, &:focus { background-color: darken($teal,        5%)} &:active { background-color: darken($teal,        15%); } }
    &.blue        { background-color: $blue;        color: #fff; &:hover, &:focus { background-color: darken($blue,        5%)} &:active { background-color: darken($blue,        15%); } }

    /* BASIC */
    &.basic {
        border: 1px solid $grey;
        background-color: transparent;

        &:hover, &:focus {
            border-color: $accent-dark;
            background-color: $accent-dark;
        }

        &:active {
            background-color: darken($accent-dark, 10%);
            color: $text-color;
        }

        &.primary     { border-color: $primary;     color: $primary;    &:hover, &:focus { background-color: $primary;    color: #fff;      } &:active { background-color: darken($primary,     15%); } }
        &.accent      { border-color: $accent;      color: $accent;     &:hover, &:focus { background-color: $accent                          } &:active { background-color: darken($accent,      15%); } }
        &.accent-dark { border-color: $accent-dark; color: $accent-dark;&:hover, &:focus { background-color: $accent-dark                     } &:active { background-color: darken($accent-dark, 15%); } }
        &.text-color  { border-color: $text-color;  color: $text-color; &:hover, &:focus { background-color: $text-color; color: #fff;      } &:active { background-color: darken($text-color,  15%); } }
        &.grey        { border-color: $grey;        color: $grey;       &:hover, &:focus { background-color: $grey ;      color: $text-color; } &:active { background-color: darken($grey,        15%); } }
        &.red         { border-color: $red;         color: $red;        &:hover, &:focus { background-color: $red;        color: #fff;      } &:active { background-color: darken($red,         15%); } }
        &.orange      { border-color: $orange;      color: $orange;     &:hover, &:focus { background-color: $orange;     color: #fff;      } &:active { background-color: darken($orange,      15%); } }
        &.yellow      { border-color: $yellow;      color: $yellow;     &:hover, &:focus { background-color: $yellow                          } &:active { background-color: darken($yellow,      15%); } }
        &.gren        { border-color: $gren;        color: $gren;       &:hover, &:focus { background-color: $gren;       color: #fff;      } &:active { background-color: darken($gren,        15%); } }
        &.teal        { border-color: $teal;        color: $teal;       &:hover, &:focus { background-color: $teal;       color: #fff;      } &:active { background-color: darken($teal,        15%); } }
        &.blue        { border-color: $blue;        color: $blue;       &:hover, &:focus { background-color: $blue;       color: #fff;      } &:active { background-color: darken($blue,        15%); } }
    }

    /* Icon */

    &.icon {
        padding-left: 0.75rem;

        i {
            margin-right: 0.5em;
            opacity: 0.75;
        }
    }
}
