table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    border: 1px solid $grey;

    &.striped {
        & > tbody > tr:nth-child(2n) {
            background-color: rgba(#000, 0.025);
        }

        &--body {
            & > tbody:nth-child(2n + 1) {
                background-color: rgba(#000, 0.025);
            }
        }
    }

    &.hoverable {
        & > tbody > tr {
            cursor: pointer;
            
            &:hover {
                background-color: rgba(#000, 0.1);
            }

            &:active {
                background-color: #444;
                color: #fff;
            }
        }
    }
}

caption {
    text-align: left;
    letter-spacing: 0.2em;
    padding: 0.5rem;
    background-color: lighten($grey, 10%);
}

tr {
    border-bottom: 1px dashed $grey;

    // &:nth-child(2n) {
    //     td:not([rowspan]) {
    //         background-color: rgba(0,0,0,0.05);
    //     }
    // }
}

td, th {
    padding: 0.5rem;

    &:not(:last-child) {
        border-right: 1px dashed $grey;
    }
}

th {
    text-align: left;
    border-bottom: 1px solid $grey;
    background-color: #eee;
}
