.placeholder {

    &__item {
        display: block;
        width: 100%;
        height: 1rem;
        margin: 0 1rem 1rem 0;
        position: relative;
        overflow: hidden;
        background-color: #ddd;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 300%;
            display: block;
            content: '';
            background-image: linear-gradient(-70deg, #ddd 30%, #eee 50%, #ddd 70%);
            background-size: 100%;
            
            animation: bgMove 1s ease infinite;
            will-change: transform;
        }
        
        @keyframes bgMove {
          0% { transform: translateX( -100% ); }
          100% { transform: none; }
        }
    }
}
