.tabs {
    &__header {
        display: flex;
    }

    &__title {
        padding: 0.5rem 1rem;
        cursor: pointer;
        user-select: none;

        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;

        // border-radius: 0.2rem;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &:hover {
            background-color: #f2f2f2;
        }

        &.active {
            background-color: #ddd;
        }
    }

    &__body {
        border-top: 1px solid #ccc;
        padding: 1rem;
        // box-shadow: 0 6px 16px rgba(#000, 0.15);
        // margin-top: 1rem;
    }

    &__tab {
        display: none;
    
        &.active {
            display: block;
        }
    }
}