// COLORS
$primary: #006ab3;
$accent: #f2f2f2;
$accent-dark: #e2e3e3;

$text-color: #444;
$grey: #ccc;

$red: #ca351b;
$orange: #ca6a1b;
$yellow: #dfe52c;
$gren: #8dca1b;
$teal: #1bc7ca;
$blue: #1b95ca;
